# Specify filepatterns you want git to ignore.

.vs/**
PropertyBasedTesting.Console/bin/**
PropertyBasedTesting.Console/obj/**
PropertyBasedTesting.Test/bin/**
PropertyBasedTesting.Test/obj/**
bin/**
obj/**